<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.intern_quest_202504.repository.CombineMapper">
	<resultMap type="spring.intern_quest_202504.domain.combine.model.Combine"
		id="combine">
		<id column="id" property="id" />
		<result column="create_user" property="createUser" />
		<result column="department_id" property="departmentId" />
		
	</resultMap>
	
	<insert id="insertCombine" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO combine
		(create_user, department_id)
		VALUES
		(#{createUser}, #{departmentId})
	</insert>
	
</mapper>



