<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" lang="ja">

<head>
	<title th:text="#{list}"></title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row g-3">
			<div class="container-md col-12 mt-2">
				<h2 class="mt-2" th:text="|#{list}|"></h2>
			</div>
		</div>
		<table class="table table-striped table-hover table-bordered mt-2">
			<thead>
				<tr>
					<th th:text="|#{overtime}#{schedule}|"></th>
					<th th:text="#{state}"></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="item : ${thisOvertimeList}">
					<tr>
						<td
							th:text="|${#temporals.format(item.scheduleStart, 'yyyy/MM/dd HH:mm(E)')}～${#temporals.format(item.scheduleFinish, 'yyyy/MM/dd HH:mm(E)')}|">
						</td>
						<th:block th:switch="true">
							<td th:case="${item.state == 0}" th:text="#{unapproved}"></td>
							<td th:case="${item.state == 1}" th:text="#{approve}"></td>
							<td th:case="${item.state == 2}" th:text="#{reject}"></td>
							<td th:case="${item.state == 3}" th:text="#{return}"></td>
						</th:block>
						<td>
							<th:block th:switch="true">
								<a th:case="${item.actualStart == null}" th:href="@{'overtime/report/' + ${item.id}}"
									class="btn btn-primary my-0" th:text="#{report}"></a>
								<p th:case="*" th:text="#{isReported}"></p>
							</th:block>
							<a th:href="@{'overtime/print/' + ${item.id}}" class="btn btn-success my-0"
								th:text="#{print}"></a>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>


	</div>
</body>

</html>